<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.vars.title %></title>
    <link rel="icon" href="/static/favicon.ico" />
    <meta charset="utf-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#343a40" />
    <meta name="description" content="This tool uses a mathematical model to simulate a variety of COVID-19 outcomes based on user-defined parameters"/>
    <meta name="keywords" content="covid-19 sars-cov-2 coronavirus ncov open-source science research model hospital covid ventilator opensource modelling data neherlab outbreak simulation population"  />
    <!-- Open Graph general -->
    <meta property="og:title" content="Outbreak Explorer"/>
    <meta property="og:site_name" content="Outbreak Explorer"/>
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.vars.webRoot %>" />
    <meta property="og:description" content="This tool uses a mathematical model to simulate a variety of COVID-19 outcomes based on user-defined parameters"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.vars.webRoot %>/icons/thumbnail.png"/>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.vars.title %>" />
    <meta name="twitter:url" content="<%= htmlWebpackPlugin.options.vars.webRoot %>" />
    <meta name="twitter:description" content="This tool uses a mathematical model to simulate a variety of COVID-19 outcomes based on user-defined parameters" />

    <link rel="manifest" href="/static/manifest.json"/>
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.vars.webRoot %>/icons/apple-icon-180x180.png">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="">
    <!-- <link as="style" href="/static/leaflet/1.6.0/leaflet.css"> -->
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <!-- <script src="/static/leaflet/1.6.0/leaflet.js"></script> -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="/static/outbreak-map-controller.js"></script>
  </body>
</html>
